.header{
    background-color: black;
    color: white;
    font-family: helvetica, Arial, sans-serif;
}

.elementcolor{
    color: rgb(255, 217, 0);
}

h1{
    font-size: 50pt;
    text-align: center;
}